@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Global presets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  text-decoration: none;
}

/* root helps to define a varible which can be used throughout the styling process */
:root {
  --bg-color: #080808;
  --second-bg-color: #101010;
  --text-color: white;
  --main-color: goldenrod;
}
/* root ends here */

/* body styling starts */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Roboto", serif;
}
/* body styling ends */

/* navbar styling begins */
.header {
  position: fixed; /* this helps to keep the navbar fixed at the top of the view port with the help of top and left styling*/
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.6rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; /*this is for the overlap of elements*/
  padding: 2rem 15%;
}

.logo {
  font-family: cursive;
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: o.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

span {
  background: linear-gradient(270deg, #df8908 10%, #ff1d15 100%);
  background-clip: text; /*this enables the background color to be clipped to the text*/
  color: transparent;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 0.8rem;
}

.nav-links a {
  font-size: 0.9rem;
  color: var(--text-color);
  /* margin-left: 0.5rem; */
  font-size: 500;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent; /*this is to have an underline for the nav-links*/
}

/*this is for the hover effect of the underlined nav links*/
.nav-links a:hover {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

.gradient-btn {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 3rem;
  background: linear-gradient(270deg, #df8908 10%, goldenrod 100%);
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: var(--text-color);
  border: none;
  text-wrap: nowrap;
}

.gradient-btn:hover {
  transform: scale(1.05);
}
/* navbar styling ends */

/* home section styling starts */
#home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 10rem;
  padding: 2rem 15%;
  gap: 10rem;
}

#headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#home-headline {
  max-width: 25rem;
  line-height: 2rem;
  padding-block: 1rem;
  font-size: 2rem;
}

#sub-home-headline {
  line-height: 1rem;
}

#home-paragraph {
  font-size: 0.8rem;
  max-width: 32rem;
  line-height: 1.5rem;
}

#home-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 0.8rem;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 0.5rem;
  transition: 0.3s ease-in-out;
}

#home-icons a:hover {
  color: var(--text-color);
  background-color: var(--main-color);
  transform: scale(1.2) translateY(-5px); /*this is to make the icons bigger and move to the top respectively*/
  box-shadow: 0 0 25px var(--main-color);
}

#home-btn {
  display: flex;
  gap: 1.5rem;
}

.btn {
  display: inline-block;
  padding: 0.5rem 2rem;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 3rem;
  font-size: 1rem;
  color: black;
  border: 2px solid transparent;
  font-weight: 600;
  transition: 0.5s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
}

#home-btn a:nth-of-type(2) {
  background-color: black;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px transparent;
}

#home-btn a:nth-of-type(2):hover {
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
  color: black;
}

#home-img img {
  width: 20vw;
  height: 40vh;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}

#home-img img:hover {
  box-shadow: 0 0 25px var(--main-colors), 0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}
/* home section ends */
/* #home-img {
  background-image: url("images/pic.jpg");
} */

/* about section starts */
#about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 10rem;
  padding: 2rem 15%;
  gap: 10rem;
}

.about-img img {
  width: 20vw;
  height: 40vh;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}

.about-img img:hover {
  box-shadow: 0 0 25px var(--main-colors), 0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}

.about-content h2 {
  font-size: 2rem;
  text-align: left;
}

.about-content p {
  font-size: 0.8rem;
  max-width: 50rem;
  padding-block: 1.2rem;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}
/* end of about section */

/* services styling begins */
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--second-bg-color);
  color: black;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8em;
  margin-inline: 10rem;
}

.heading {
  text-align: center;
  font-size: 3rem;
  margin: 3rem 0;
}

.services h2 {
  color: var(--text-color);
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap: 2.5rem;
}

.service-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  height: 400px;
  border-radius: 3rem;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.4s ease-in-out;
}

.service-box:hover {
  background-color: var(--second-bg-color);
  color: var(--main-color);
  border: 1px solid var(--main-color);
  transform: scale(1.05);
}

.service-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5rem;
}

.service-info h4 {
  font-size: 1.5rem;
  margin: 2rem 0;
  font-weight: 800;
}

.service-info p {
  font-size: 0.7rem;
  font-weight: 600;
  line-height: 1.5;
}

.service-info i {
  font-size: 5rem;
}
/* end of services styling */

/* projects styling starts */
.projects {
  margin-block: 10rem;
}
.projects h2 {
  text-align: center;
  font-size: 3rem;
  margin: 3rem 0;
}

.contain {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.project-img img {
  width: 24vw;
  border-radius: 3rem;
  background-color: var(--main-color);
  /* height: 400px; */
  cursor: pointer;
  /* border: 1px solid transparent; */
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}

.project-img img:hover {
  background-color: var(--second-bg-color);
  color: var(--main-color);
  /* border: 1px solid var(--main-color); */
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color),
    0 0 100px var(--main-color);
  transform: scale(1.05);
}

.project-img h3 {
  transition: 0.4s ease-in-out;
  color: var(--main-color);
  cursor: pointer;
}

.project-img h3:hover {
  transform: scale(1.05);
  color: var(--text-color);
}

.project-img p {
  transition: 0.4s ease-in-out;
  color: var(--text-color);
  cursor: pointer;
}

.project-img p:hover {
  transform: scale(1.05);
  color: var(--main-color);
}
/* end of projects styling */

/* beginning of contact styling */
.contact {
  background-color: var(--bg-color);
}

.contact h2 {
  margin-bottom: 3rem;
  color: var(--text-color);
}

.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 4rem 0;
  text-align: center;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  /* font-size: 1.8rem; */
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: 2rem;
  border: 1px solid var(--main-color);
  margin: 1.5rem 0;
  resize: none;
}
/* end of contact styling */

/* footer styling starts */
.footer {
  background-color: var(--second-bg-color);
  padding: 50px 0;
}
.footer #home-icons {
  text-align: center;
}

.footer ul {
  text-align: center;
  padding-bottom: 2rem;
  font-size: 1.8rem;
}

.footer ul li {
  display: inline-block;
  margin-left: 20px;
}

.footer ul li a {
  color: white;
  border-bottom: 2px solid transparent;
  transition: 0.4s ease-in-out;
}

.footer ul li a:hover {
  border-bottom: 2px solid var(--main-color);
}

.footer .copyright {
  text-align: center;
  margin-top: 4px;
  font-size: 16px;
}
/* footer styling ends */
/* #ea580c  main color, gradient-btn #ff1d15 */
